{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Editeurs : Collection - {{ parent() }}
{% endblock %}

{% block rightside %}
    Editeurs populaires :
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2>&nbsp;{{ 'editors list'|trans|capitalize }}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary pull-right"
                   href="{{ path('game_score_editor_create') }}">{{ 'new'|trans|capitalize }}</a>
            {% endif %}
        </h2>
        <ul class="pagination">
            {% for p in range(1, nbOfPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_editor_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for editor in editorCollection %}
                <li class="list-group-item">
                    {{ editor.name }}
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-xs"
                           href="{{ path('game_score_editor_view', { 'id':editor.id }) }}">{{ 'see card'|trans|capitalize }}</a>
                        <a class="btn btn-warning btn-xs"
                           href="{{ path('game_score_editor_update', { 'id':editor.id }) }}">{{ 'update'|trans|capitalize }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>


{% endblock %}