{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Editeurs : Collection - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Editeurs : collection</h2>
    <p>
        <a href="{{ path('game_score_create_editor') }}">Nouvel éditeur</a>
    </p>
    <ul>
        {% for editor in editorCollection %}
            <li>
                {{ editor.name }}
                -
                <a href="{{ path('game_score_view_editor', { 'id':editor.id }) }}">Fiche</a>
                -
                <a href="{{ path('game_score_update_editor', { 'editor_id':editor.id }) }}">Maj</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="pagination">
        {% for p in range(1, nbOfPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('game_score_editor_collection', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}