{% extends "GameScoreBundle::form.layout.html.twig" %}

{% block title %}
    {{ 'editor'|trans|capitalize }} {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-gift"></span> {{ 'editor'|trans|upper }}</label>
    {% endblock %}

    {% block blocktitle %}
        {{ 'author' |trans|capitalize }}
    {% endblock %}

    {% block blockcontent %}

        {{ form_start(form) }}

        <div>
            <label for="name" class="control-label">
                {{ form_label(form.name, 'name'|trans|capitalize) }}
            </label>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <hr />
        <div>
            <div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}

