{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Editeurs : Formulaire - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Formulaire éditeur :</h2>

    <div class="well">
        {{ form(form) }}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_row(form.name) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

