{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'editor'|trans|capitalize }} : {{ editor.name }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2>
            <i class="fa fa-address-card" aria-hidden="true"></i>
            {{ 'editor'|trans|capitalize }} : {{ editor.name }}
        </h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning"
               href="{{ path('game_score_editor_update', {'id':editor.id}) }}">{{ 'update'|trans|capitalize }}
            </a>
        {% endif %}
        <hr/>
        <p>...</p>
    </section>
{% endblock %}

