{% extends "GameScoreBundle::view.layout.html.twig" %}

{% block title %}
    {{ 'editor'|trans|capitalize }} : {{ editor.name }} - {{ parent() }}
{% endblock %}

{% block mainsection %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-gift"></span> {{ 'editor'|trans|upper }}
    {% endblock %}

    {% block blocktitle %}
        {{ editor.name }}
    {% endblock %}</h3>

    {% block blockcontent %}
        <h4>x jeux chez cet éditeur</h4>
    {% endblock %}

    {% if is_granted('ROLE_ADMIN') %}
        {% block updateroute %}{{ path('game_score_editor_update', {'id':editor.id}) }}{% endblock %}
    {% endif %}

{% endblock %}
