{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Editeur : [{{ editor.getId() }}] - {{ parent() }}
{% endblock %}

{% block rightside %}
    Editeurs populaires :
{% endblock %}

{% block mainsection %}
    <h2>Editeur : {{ editor.name }}
        <a class="btn btn-warning pull-right"
            href="{{ path('game_score_editor_update', {'id':editor.id}) }}">{{ 'update'|trans|capitalize }}
        </a>
    </h2>
{% endblock %}