<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} GameScore {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('static/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('static/css/overload.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('static/css/user.css') }}" type="text/css"/>
</head>

<body>
{% block navigation %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('game_score_homepage') }}"><span class="navbar-brand-yellow">GameScore</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('game_score_play_create') }}">
                            {{ 'new play'|trans|capitalize }}
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ path('game_score_game_collection', {page: 'a'}) }}">
                            {{ 'games'|trans|capitalize }}
                            <span class="badge">{{ game_service.getTotalNumberOfGames() }}</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ 'more'|trans|capitalize }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('game_score_player_collection', {page: 'a'}) }}">
                                    <span class="glyphicon glyphicon-record"></span>
                                    {{ 'players'|trans|capitalize }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('game_score_author_collection', {page: 'a'}) }}">
                                    <span class="glyphicon glyphicon-education"></span>
                                    {{ 'authors'|trans|capitalize }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('game_score_editor_collection', {page: 1}) }}">
                                    <span class="glyphicon glyphicon-gift"></span>
                                    {{ 'editors'|trans|capitalize }}
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Users</li>
                            <li><a href="{{ path('user_collection') }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    Les utilisateurs</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="navbar-text">
                            {{ 'hello'|trans|capitalize }} {{ app.user.username }}
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"
                               title="{{ 'sign out'|trans|capitalize }}"><span
                                        class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}"
                               title="{{ 'sign in'|trans|capitalize }}">{{ 'sign in'|trans|capitalize }}</a>
                        </li>
                        <li>
                            <a href={{ path ('fos_user_registration_register') }}>{{ 'sign up'|trans|capitalize }}</a>
                        </li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}
{% for message in app.session.flashbag.get('info') %}
    <div class="container">
        <div class="alert alert-info fade in alert-animation col-md-6 col-md-offset-3">
            <a href="#" class="close" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    </div>
{% endfor %}
{% block content %}

{% endblock %}
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.
        <address>Contact : davyyd76@gmail.com</address>
        </p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>