{% extends "::layout.html.twig" %}

{% block navigation %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="navbar-brand-yellow">GameScore</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('game_score_homepage') }}">
                            {{ 'home'|trans|capitalize }}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="navbar-text">
                            {{ 'hello'|trans|capitalize }} {{ app.user.username }}
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'sign out'|trans|capitalize }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'sign in'|trans|capitalize }}</a>
                        </li>
                        <li>
                            <a href={{ path ('fos_user_registration_register') }}>{{ 'sign up'|trans|capitalize }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <section class="col-md-12">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </section>
        </div>
    </div>

{% endblock %}