<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} GameScore {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="../../../css/blackboot.css" />-->
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        {{ message }}
    </div>
{% endfor %}
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Game scores</h1>
        <p>Propelled by Symfony 3</p>
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">
            <ul class="nav nav-pills nav-stacks">
                <li><a href="{{ path('game_score_homepage') }}">Home</a></li>
                <li><a href="{{ path('game_score_game_collection', {page: 'a'}) }}">Les jeux</a></li>
                <li><a href="{{ path('game_score_author_collection') }}">Les auteurs</a></li>
                <li><a href="{{ path('game_score_editor_collection', {page: 1}) }}">Les éditeurs</a></li>
                <li><a href="{{ path('game_score_player_collection', {page: 'a'}) }}">Les joueurs</a></li>
            </ul>
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr />

    <footer>
        <p>Copyright {{ 'now'|date('Y') }} - enviro {{ app.environment|upper }}</p>
    </footer>
</div>

</body>

</html>