{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    User : [{{ user.username }}] - {{ parent() }}
{% endblock %}

{% block rightside %}
    ?
{% endblock %}

{% block mainsection %}
    <h2>User : {{ user.username }} ({{ user.id }})</h2>
    <p>{{ user.email }}</p>
    <p>Last login : {{ user.lastlogin|date("Y-m-d H:i:s") }}</p>
    <p>Active : {{ user.enabled }}</p>
    <p>ROLES :
        {% for role in user.roles %}
            {{ role }}
            {% if not loop.last %} | {% endif %}
        {% endfor %}
    </p>
{% endblock %}

