{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'games'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-10 col-md-offset-1">
        <label class="label label-xs label-gamescore-default"><span
                    class="glyphicon glyphicon-knight"></span> {{ 'game'|trans|upper }}</label>
        <div class="well">
            <h2>{{ 'games'|trans|capitalize }}</h2>
            <hr/>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default"
                   href="{{ path('game_score_game_create') }}">{{ 'new'|trans|capitalize }}</a>
            {% endif %}
        </div>
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_game_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        {% for game in gameCollection %}
            {% include 'GameScoreBundle:Game:gameIncluded.html.twig' with {'game' : game } %}
        {% endfor %}
    </section>
{% endblock %}

