{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'games'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block rightside %}
    Jeux populaires :
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;{{ 'games'|trans|capitalize }}</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary"
               href="{{ path('game_score_game_create') }}">{{ 'new'|trans|capitalize }}</a>
        {% endif %}
        <hr />
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_game_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        {% for game in gameCollection %}
            {% include 'GameScoreBundle:Game:gameIncluded.html.twig' with {'game' : game } %}
        {% endfor %}
    </section>
{% endblock %}