{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Games Collection - {{ parent() }}
{% endblock %}

{% block rightside %}
    Jeux populaires :
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2>Games collection</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p><a class="btn btn-primary" href="{{ path('game_score_game_create') }}">Nouveau jeu</a></p>
        {% endif %}
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_game_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul>
            {% for game in gameCollection %}
                {% include 'GameScoreBundle:Game:gameIncluded.html.twig' with {'game' : game } %}
            {% endfor %}
        </ul>
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_game_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}