{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Games Collection - {{ parent() }}
{% endblock %}

{% block rightside %}
    Jeux populaires :
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2>Games collection</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p><a href="{{ path('game_score_game_create') }}">Nouveau jeu</a></p>
        {% endif %}
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_game_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul>
            {% for game in gameCollection %}
                <li>
                    {{ game.name }}
                    {% if game.author %}
                        <br/>
                        Auteur(s) :
                        {% for author in game.author %}
                            {{ author.firstname }} {{ author.lastname }}
                        {% endfor %}
                    {% endif %}
                    <br/>
                    <a href="{{ path('game_score_game_view', {'game_id':game.id}) }}">Fiche</a>
                    - <a href="{{ path('game_score_game_update', {'game_id':game.id}) }}">Maj</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}