{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Jeu : Formulaire - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Formulaire jeu :</h2>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.name, "Nom du jeu :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.name) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, "Description du jeu : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.description) }}
            <div class="col-sm-10">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.author, "Auteur(s) :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.author) }}
            <div class="col-sm-10">
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.editor, "Editeur :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.editor) }}
            <div class="col-sm-10">
                {{ form_widget(form.editor, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.img_url, "Chemin vers l'image du jeu :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.img_url) }}
            <div class="col-sm-10">
                {{ form_widget(form.img_url, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.year, "Année de sortie :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.year) }}
            <div class="col-sm-10">
                {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_row(form.has_inverted_score) }}
        {{ form_row(form.is_collaborative) }}
        {{ form_row(form.is_extension) }}

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

