<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        {% if extended_mode is defined %}
            <h3>
                {{ game.name }}
                <a class="btn btn-warning pull-right" href="{{ path('game_score_game_update', {'id':game.id}) }}">
                    {{ 'update'|trans|capitalize }}
                </a>
            </h3>
        {% else %}
            <h4><a href="{{ path('game_score_game_view', { 'id':game.id }) }}">{{ game.name }}</a></h4>
        {% endif %}
    </li>

    {% if extended_mode is defined %}
        <li class="list-group-item">
            {{ game.description }}
        </li>
    {% endif %}

    {% if game.editor %}
        <a class="list-group-item" href="{{ path('game_score_editor_view', { 'id':game.editor.id }) }}">
            {{ 'editor'|trans|capitalize }} : {{ game.editor.name }}
            <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
        </a>
    {% else %}
        <li class="list-group-item disabled">
            {{ 'editor'|trans|capitalize }} : {{ 'none'|trans|capitalize }} :
        </li>
    {% endif %}


    <li class="list-group-item disabled">
        {{ 'author'|trans|capitalize }}(s) :
    </li>
    {% if game.author %}
        {% for author in game.author %}
            <a class="list-group-item" href="{{ path('game_score_author_view', { 'id':author.id }) }}">
                {{ author.firstname ~ ' ' ~ author.lastname }}
                <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
            </a>
        {% endfor %}
    {% else %}
        <li class="list-group-item disabled">
            {{ 'none'|trans|capitalize }} :
        </li>
    {% endif %}

    {% if extended_mode is defined %}
        <li class="list-group-item">
            Collaboratif :
            {% if game.getIsCollaborative %}
                Oui
            {% else %}
                Non
            {% endif %}
            <br/>
            Extension :
            {% if game.getIsExtension %}
                Oui
            {% else %}
                Non
            {% endif %}
            <br/>
            Le plus petit score gagne :
            {% if game.getHasInvertedScore %}
                Oui
            {% else %}
                Non
            {% endif %}
        </li>
        <li class="list-group-item">
            {% if game.image %}
                <img src="{{ asset(game.image.WebPath) }}" alt="{{ game.image.alt }}" height="200">
            {% endif %}
        </li>
    {% endif %}
</ul>

