{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Games Collection - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Games collection</h2>
    <p><a href="{{ path('game_score_create_game') }}">Nouveau jeu</a></p>
    <ul>
        {% for game in gameCollection %}
            <li>
                {{ game.name }}
                {% if game.author %}
                    <br/>
                    Un jeu de {{ game.author.firstName }} {{ game.author.lastName }}
                {% endif %}
                {% if game.editor %}
                    <br/>
                    Edité par {{ game.editor.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}