<ul class="list-group">
    <li class="list-group-item">
        <h4><a href="{{ path('game_score_game_view', { 'id':game.id }) }}">{{ game.name }}</a></h4>
    </li>

    {% if game.editor %}
    <li class="list-group-item">
        {{ 'editor'|trans|capitalize }} :
        <a href="{{ path('game_score_editor_view', { 'id':game.editor.id }) }}">
            {{ game.editor.name }}
        </a>
    </li>
    {% endif %}

    {% if game.author %}
        <li class="list-group-item">
            {{ 'author'|trans|capitalize }}(s) :
            {% for author in game.author %}
                <a href="{{ path('game_score_author_view', { 'id':author.id }) }}">
                    {{ author.firstname ~ ' ' ~ author.lastname }}
                </a>
            {% endfor %}
        </li>
    {% endif %}

</ul>

