{% extends "GameScoreBundle::form.layout.html.twig" %}

{% block title %}
    {{ 'author'|trans|capitalize }} {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-eye"></span> {{ 'upload'|trans|upper }}
    {% endblock %}

    {% block blocktitle %}
        {{ 'document' |trans|capitalize }}
    {% endblock %}

    {% block blockcontent %}
        <div>
            {{ form_start(form) }}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <input type="submit" value="Upload Document"/>
            {{ form_end(form) }}
        </div>

    {% endblock %}
{% endblock %}





