{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'score' |trans|capitalize }} : {{ 'form' |trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
<section class="col-md-offset-2 col-md-8">
    <h2>{{ 'play'|trans|capitalize }} {{ 'of'|trans }} {{ play.game.name }}</h2>
    {% include 'GameScoreBundle:Play:playedGamesIncluded.html.twig' with {'plays' : plays } %}
    <div class="well">
        <legend>{{ 'form'|trans|capitalize }} {{ 'score'|trans }} :</legend>
        {{ form_start(form) }}

        <div class="form-group">
            <label for="player" class="control-label">
                {{ form_label(form.player, 'player'|trans|capitalize) }}
            </label>
            {{ form_errors(form.player) }}
            {{ form_widget(form.player) }}
        </div>

        <div class="form-group">
            <label for="score" class="control-label">
                {{ form_label(form.score, 'score'|trans|capitalize) }}
            </label>
            {{ form_errors(form.score) }}
            {{ form_widget(form.score) }}
        </div>

        <div class="form-group">
            <div class="btn-group">
                {{ form_widget(form.save_player, {'label' : 'save'|trans|capitalize, 'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_widget(form.stop_and_exit, {'label' : 'stop'|trans|capitalize, 'attr': {'class': 'btn btn-warning'}}) }}
            </div>
        </div>

        <div class="form-hidden-group">
            {{ form_widget(form.play) }}
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}

