{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'score' |trans|capitalize }} : {{ 'form' |trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>{{ 'form' |trans|capitalize }} : {{ 'score' |trans|capitalize }}</h2>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}

