{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Joueurs : Collection - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;{{ 'players list'|trans|capitalize }}
            <br/>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default"
                   href="{{ path('game_score_player_create') }}">{{ 'new'|trans|capitalize }}
                </a>
            {% endif %}
        </h2>
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_player_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for player in playerCollection %}
                <li class="list-group-item">
                    {{ player.firstname ~ ' ' ~ player.lastname }}
                    {% if player.star %}
                        &nbsp;&#9733;
                    {% endif %}
                    {% include 'GameScoreBundle:Service:entityLink.html.twig' with {'useroleadmin' : true, 'entity' : 'player', 'id' : player.id } %}
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}