{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Joueurs : Collection - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2><i class="fa fa-address-book" aria-hidden="true"></i> Joueurs : collection</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a class="btn btn-primary" href="{{ path('game_score_player_create') }}">Nouveau joueur</a>
            </p>
        {% endif %}
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_player_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for player in playerCollection %}
                <li class="list-group-item">
                    {{ player.firstname ~ ' ' ~ player.lastname }}
                    {% if player.star %}
                    &nbsp;&#9733;
                    {% endif %}</h2>
                    -
                    <a href="{{ path('game_score_player_view', { 'id':player.id }) }}">Fiche</a>
                    -
                    <a href="{{ path('game_score_player_update', { 'id':player.id }) }}">Maj</a>
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}