{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'players'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2>
            <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;{{ 'players'|trans|capitalize }}
        </h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary"
               href="{{ path('game_score_player_create') }}">{{ 'new'|trans|capitalize }}
            </a>
        {% endif %}
        <hr/>
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_player_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for player in playerCollection %}
                <a href="{{ path('game_score_player_view', { 'id': player.id }) }}" class="list-group-item">
                    {{ player.firstname ~ ' ' ~ player.lastname }}
                    {% if player.star %}
                        &nbsp;&#9733;
                    {% endif %}
                    <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                </a>
            {% endfor %}
        </ul>
    </section>

{% endblock %}