{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'players'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-10 col-md-offset-1">
        <label class="label label-xs label-gamescore-default"><span class="glyphicon glyphicon-record"></span> {{ 'player'|trans|upper }}</label>
        <div class="well">
            <h2>
                {{ 'players'|trans|capitalize }}
            </h2>
            <hr/>
            <h4>x joueurs en base</h4>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default"
                   href="{{ path('game_score_player_create') }}">{{ 'new'|trans|capitalize }}
                </a>
            {% endif %}
        </div>
        <ul class="pagination">
            {% for p in alphapageArray %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_player_collection', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for player in playerCollection %}
                <a href="{{ path('game_score_player_view', { 'id': player.id }) }}" class="list-group-item">
                    {{ player.firstname ~ ' ' ~ player.lastname }}
                    {% if player.star %}
                        &nbsp;&#9733;
                    {% endif %}
                    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                </a>
            {% endfor %}
        </ul>
    </section>

{% endblock %}

