{% extends "GameScoreBundle::form.layout.html.twig" %}

{% block title %}
    {{ 'player'|trans|capitalize }} {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-record"></span> {{ 'player'|trans|upper }}</label>
    {% endblock %}

    {% block blocktitle %}
        {{ 'player' |trans|capitalize }}
    {% endblock %}

    {% block blockcontent %}
        {{ form_start(form) }}

        <div>
            <label for="firstname" class="control-label">
                {{ form_label(form.firstname, 'firstname'|trans|capitalize) }}
            </label>
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>

        <div>
            <label for="lastname" class="control-label">
                {{ form_label(form.lastname, 'lastname'|trans|capitalize) }}
            </label>
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>

        <div>
            {{ form_errors(form.star) }}
            {{ form_widget(form.star) }}
        </div>
        <hr />
        <div>
            <div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    {% endblock %}
{% endblock %}

