{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Joueurs : Collection - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Joueurs : collection</h2>
    <p>
        <a href="{{ path('game_score_create_player') }}">Nouveau joueur</a>
    </p>
    <ul>
        {% for player in playerCollection %}
            <li>
                {{ player.firstname ~ ' ' ~ player.lastname }}
                {% if player.star %}
                    &nbsp;&#9733;
                {% endif %}</h2>
                -
                <a href="{{ path('game_score_view_player', { 'player_id':player.id }) }}">Fiche</a>
                -
                <a href="{{ path('game_score_update_player', { 'player_id':player.id }) }}">Maj</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}