{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Joueur : [{{ player.getId() }}] - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2><i class="fa fa-address-card" aria-hidden="true"></i> {{ player.firstname ~ ' ' ~ player.lastname }}
            {% if player.star %}
                &nbsp;&nbsp;&#9733;
            {% endif %}
            <a class="btn btn-warning pull-right"
               href="{{ path('game_score_player_update', { 'id':player.id }) }}">{{ 'update'|trans|capitalize }}
            </a>
        </h2>
        {% include 'GameScoreBundle:Play:totalPlayedGamesIncluded.html.twig' with {'totalPlayedGames' : totalPlayedGames } %}
        {% include 'GameScoreBundle:Play:playedGamesIncluded.html.twig' with {'plays' : plays } %}
    </section>
{% endblock %}