{% extends "GameScoreBundle::view.layout.html.twig" %}

{% block title %}
    {{ 'player'|trans|capitalize }} : {{ player.firstname }} - {{ parent() }}
{% endblock %}

{% block mainsection %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-record"></span> {{ 'player'|trans|upper }}
    {% endblock %}

    {% block blocktitle %}
        {{ player.firstname ~ ' ' ~ player.lastname }}
        {% if player.star %}
            &nbsp;&nbsp;&#9733;
        {% endif %}
    {% endblock %}</h3>

    {% block blockcontent %}
        {% include 'GameScoreBundle:Play:totalPlayedGamesIncluded.html.twig' with {'totalPlayedGames' : totalPlayedGames } %}
    {% endblock %}

    {% if is_granted('ROLE_ADMIN') %}
        {% block updateroute %}{{ path('game_score_player_update', {'id':player.id}) }}{% endblock %}
    {% endif %}

    {% block extrainfo %}
        {% include 'GameScoreBundle:Play:playedGamesIncluded.html.twig' with {'plays' : plays } %}
    {% endblock %}

{% endblock %}
