{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'authors'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;{{ 'authors'|trans|capitalize }}</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('game_score_author_create') }}">{{ 'new'|trans|capitalize }}</a>
        {% endif %}
        <hr/>
        <ul class="pagination">
            {% for p in alphapageArray %}
                {% if p != "" %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('game_score_author_collection', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for author in authors %}
                <a href="{{ path('game_score_author_view', { 'id':author.id }) }}" class="list-group-item">
                    {{ author.firstname ~ ' ' ~ author.lastname }}
                    <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                </a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}