{% extends "GameScoreBundle::general.layout.html.twig" %}

{% block title %}
    {{ 'authors'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-10 col-md-offset-1">
        <label class="label label-xs label-gamescore-default"><span
                    class="glyphicon glyphicon-education"></span> {{ 'author'|trans|upper }}</label>
        <div class="well">
            <h2>{{ 'authors'|trans|capitalize }}</h2>
            <hr/>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default"
                   href="{{ path('game_score_author_create') }}">{{ 'new'|trans|capitalize }}</a>
            {% endif %}
        </div>
        <ul class="pagination">
            {% for p in alphapageArray %}
                {% if p != "" %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('game_score_author_collection', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for author in authors %}
                <a href="{{ path('game_score_author_view', { 'id':author.id }) }}" class="list-group-item">
                    {{ author.firstname ~ ' ' ~ author.lastname }}
                    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                </a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

