{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Auteurs : Collection - {{ parent() }}
{% endblock %}

{% block rightside %}
    Auteurs populaires :
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        <h2>Authors collection</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p><a class="btn btn-primary" href="{{ path('game_score_author_create') }}">Nouvel auteur</a></p>
        {% endif %}
        <ul class="pagination">
            {% for p in alphapageArray %}
                {% if p != "" %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('game_score_author_collection', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for author in authors %}
                <li class="list-group-item">
                    {{ author.firstname ~ ' ' ~ author.lastname }}
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-xs"
                           href="{{ path('game_score_author_view', { 'author_id':author.id }) }}">{{ 'see card'|trans|capitalize }}</a>
                        <a class="btn btn-warning btn-xs"
                           href="{{ path('game_score_author_update', { 'author_id':author.id }) }}">{{ 'update'|trans|capitalize }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}