{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Auteur : [{{ author.getId() }}] - {{ parent() }}
{% endblock %}

{% block rightside %}
    Auteurs populaires :
{% endblock %}

{% block mainsection %}
    <h2>Auteur : {{ author.firstname ~ ' ' ~ author.lastname }}
        <a class="btn btn-warning pull-right"
            href="{{ path('game_score_author_update', {'author_id':author.id}) }}">{{ 'update'|trans|capitalize }}
        </a>
    </h2>
{% endblock %}