{% extends "GameScoreBundle::view.layout.html.twig" %}

{% block title %}
    {{ author.firstname ~ ' ' ~ author.lastname }} - {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-education"></span> {{ 'author'|trans|upper }}
    {% endblock %}

    {% block blocktitle %}
        {{ 'author'|trans|capitalize }} : {{ author.firstname ~ ' ' ~ author.lastname }}
    {% endblock %}

    {% block blocktitletext %}
        Fiche complète de cet auteur
    {% endblock %}

    {% block blockcontent %}
        <li class="list-group-item">
            <button class="btn btn-default" type="button">
                Jeux en base : <span class="badge">{{ nbGames }}</span>
            </button>
        </li>

        <li class="list-group-item">
            {% for game in games %}
                {% include 'GameScoreBundle:Game:gameIncluded.html.twig' with {'game' : game } %}
            {% endfor %}
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('game_score_author_update', {'id':author.id}) }}" class="list-group-item">
                <h4 class="list-group-item-heading">Modifier la fiche</h4>
                <button class="btn btn-primary">
                    {{ 'update'|trans|capitalize }}
                </button>
            </a>
        {% endif %}

    {% endblock %}

{% endblock %}
