{% extends "GameScoreBundle::view.layout.html.twig" %}

{% block title %}
    {{ author.firstname ~ ' ' ~ author.lastname }} - {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-education"></span> {{ 'author'|trans|upper }}
    {% endblock %}

    {% block blocktitle %}
        {{ 'author'|trans|capitalize }} : {{ author.firstname ~ ' ' ~ author.lastname }}
    {% endblock %}</h3>

    {% block blockcontent %}
        <h4>x jeux de cet auteur</h4>
    {% endblock %}

    {% if is_granted('ROLE_ADMIN') %}
        {% block updateroute %}{{ path('game_score_author_update', {'id':author.id}) }}{% endblock %}
    {% endif %}

{% endblock %}

