{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'play' |trans|capitalize }} : {{ 'form' |trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block rightside %}
    ?
{% endblock %}

{% block mainsection %}
    <h2>{{ 'form' |trans|capitalize }} : {{ 'play' |trans|capitalize }}</h2>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}

