{% extends "GameScoreBundle::form.layout.html.twig" %}

{% block title %}
    {{ 'play'|trans|capitalize }} {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-default"></span> {{ 'play'|trans|upper }}</label>
    {% endblock %}

    {% block blocktitle %}
        {{ 'play' |trans|capitalize }}
    {% endblock %}

    {% block blockcontent %}
        {{ form_start(form) }}

        <div>
            <label for="date" class="control-label">
                {{ form_label(form.date, 'date'|trans|capitalize) }}
            </label>
            {{ form_errors(form.date) }}
            {{ form_widget(form.date) }}
        </div>

        <div>
            <label for="description" class="control-label">
                {{ form_label(form.description, 'description'|trans|capitalize) }}
            </label>
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        <div>
            <label for="location" class="control-label">
                {{ form_label(form.location, 'location'|trans|capitalize) }}
            </label>
            {{ form_errors(form.location) }}
            {{ form_widget(form.location) }}
        </div>

        <div>
            <label for="game" class="control-label">
                {{ form_label(form.game, 'game'|trans|capitalize) }}
            </label>
            {{ form_errors(form.game) }}
            {{ form_widget(form.game) }}
        </div>
        <hr/>
        <div>
            <div>
                {{ form_widget(form.save, {'label': 'save'|trans|capitalize, 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    {% endblock %}
{% endblock %}

