<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <h4>
        <a href="{{ path('game_score_game_view', {'id':play.game.id}) }}">{{ play.game.name }}</a>
        {% if is_granted('ROLE_ADMIN') %}
            {% if mode == 'update' %}
                <a class="btn btn-warning btn-xs pull-right"
                   href="{{ path('game_score_play_update', {'id': play.playid}) }}">
                    {{ 'update'|trans|capitalize }}
                </a>
            {% else %}
                <a class="btn btn-primary btn-xs pull-right"
                   href="{{ path('game_score_play_view', {'id': play.playid}) }}">
                    {{ 'edition'|trans|capitalize }}
                </a>
            {% endif %}
        {% endif %}
        </h4>
    </li>
    <li class="list-group-item inactive">
        {{ play.description }} @ {{ play.location }}
        , {{ play.date|date("d M Y") }},
        {{ play.nbPlayers }} joueurs :
    </li>
    {% if play.nbPlayers > 0 %}
        {% for player in play.player %}

            {% if mode == 'view' %}
                <a class="list-group-item" href="{{ path('game_score_player_view', {'id': player.id}) }}">
            {% else %}
                <li class="list-group-item">
            {% endif %}

            {{ player.firstname }} {{ player.lastname }}
            {% if loop.first %}
                <span class="label label-success">{{ player.score }}</span>
            {% else %}
                <span class="label label-info">{{ player.score }}</span>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% if mode == 'update' %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-warning btn-xs"
                           href="{{ path('game_score_score_update', {'id': player.scoreid}) }}">
                            {{ 'update'|trans|capitalize }}
                        </a>
                        <a class="btn btn-danger btn-xs"
                           href="{{ path('game_score_score_delete', {'id': player.scoreid}) }}">
                            {{ 'delete'|trans|capitalize }}
                        </a>
                    </div>
                {% else %}
                    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                {% endif %}
            {% endif %}

            {% if mode == 'view' %}
                </a>
            {% else %}
                </li>
            {% endif %}

        {% endfor %}
    {% endif %}
</ul>
