{% if plays %}
    <h3>{% if limitOfPlayedGamesShown is defined %}
            {{ limitOfPlayedGamesShown }}
        {% endif %}
        {{ 'Last played games'|trans|capitalize }} :</h3>

    <div class="panel-group">

    {% for play in plays %}
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4></h><a href="{{ path('game_score_game_view', {'id':play.game.id}) }}">{{ play.game.name }}</a></h4>

            <p class="text-muted">{{ play.description }} @ {{ play.location }}
                , {{ play.date|date("d M Y") }},
                {{ play.nbPlayers }} joueurs

                <a class="btn btn-default btn-xs pull-right"
                   href="{{ path('game_score_play_update', {'id': play.playid}) }}"
                   class="small">{{ 'update'|trans|capitalize }} {{ 'play'|trans }}</a>
            </p>
        </div>

        {% if play.nbPlayers > 0 %}
            <div class="panel-body">
                <ul class="list-group">
                    {% for player in play.player %}
                        <li class="list-group-item">

                            {{ player.firstname }} {{ player.lastname }}
                            &nbsp;
                            {% if loop.first %}
                                <span class="label label-success">{{ player.score }}</span>
                            {% else %}
                                <span class="label label-info">{{ player.score }}</span>
                            {% endif %}

                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="{{ path('game_score_player_view', {'id': player.id}) }}">
                                    {{ 'card'|trans|capitalize }}
                                </a>
                                <a class="btn btn-warning btn-xs" href="{{ path('game_score_score_update', {'id': player.scoreid}) }}">
                                    {{ 'update'|trans|capitalize }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
    {% endfor %}

    {% if nbOfPage is defined %}
        <ul class="pagination">
            {% for p in range(1, nbOfPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('game_score_player_view', {'id': player.id}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endif %}