<ul class="list-group">

    <li class="list-group-item  list-group-item-info">
    <h5>Partie de
        <a href="{{ path('game_score_game_view', {'id':play.game.id}) }}">{{ play.game.name }}</a>
        <a class="btn btn-primary btn-xs pull-right"
           href="{{ path('game_score_play_view', {'id': play.playid}) }}">
            {{ 'edition'|trans|capitalize }}
        </a>
    </h5>
</li>

<li class="list-group-item inactive">
    {{ play.description }} @ {{ play.location }}
    , {{ play.date|date("d M Y") }},
    {{ play.nbPlayers }} joueurs :
</li>

{% if play.nbPlayers > 0 %}
    {% for player in play.player %}
        <li class="list-group-item">
            <a href="{{ path('game_score_player_view', {'id': player.id}) }}">
            {{ player.firstname }} {{ player.lastname }}
            </a>
            {% if loop.first %}
                <span class="label label-success">{{ player.score }}</span>
            {% else %}
                <span class="label label-default">{{ player.score }}</span>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% if mode != 'view' %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-warning btn-xs"
                           href="{{ path('game_score_score_update', {'id': player.scoreid}) }}">
                            {{ 'upd'|trans|capitalize }}
                        </a>
                        <a class="btn btn-danger btn-xs"
                           href="{{ path('game_score_score_delete', {'id': player.scoreid}) }}">
                            {{ 'del'|trans|capitalize }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
{% endif %}

</ul>
