
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                <a href="{{ path('game_score_game_view', {'id':play.game.id}) }}">{{ play.game.name }}</a>
                {% if mode == 'view' %}
                    <a class="btn btn-primary btn-xs pull-right"
                       href="{{ path('game_score_play_view', {'id': play.playid}) }}">
                        {{ 'edition mode'|trans|capitalize }}
                    </a>
                {% endif %}
            </li>
            <li class="list-group-item inactive">
                {{ play.description }} @ {{ play.location }}
                , {{ play.date|date("d M Y") }},
                {{ play.nbPlayers }} joueurs :
            </li>
            {% if play.nbPlayers > 0 %}
                {% for player in play.player %}
                    <a class="list-group-item" href="{{ path('game_score_player_view', {'id': player.id}) }}">
                        {{ player.firstname }} {{ player.lastname }}
                        {% if loop.first %}
                            <span class="label label-success">{{ player.score }}</span>
                        {% else %}
                            <span class="label label-info">{{ player.score }}</span>
                        {% endif %}
                        <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                    </a>
                {% endfor %}
            {% endif %}
        </ul>
