{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Partie : {{ parent() }}
{% endblock %}

{% block mainsection %}

    <section class="col-md-offset-2 col-md-8">
        {% for play in plays %}
            <h2>{{ 'edition mode'|trans|capitalize }} : {{ 'play'|trans }} {{ play.playid }}</h2>

            {% include 'GameScoreBundle:Play:playedGameIncluded.html.twig' with {'plays' : plays, 'mode' : mode } %}

            <div class="row">
                <a class="btn btn-primary" href="{{ path('game_score_score_create', {'id': play.playid}) }}">{{ 'add player'|trans|capitalize }}</a>
            </div>

        {% endfor %}



    </section>


{% endblock %}
