{% extends "GameScoreBundle::view.layout.html.twig" %}

{% block title %}
    {{ 'play'|trans|capitalize }} - {{ parent() }}
{% endblock %}

{% block maincontent %}

    {% block minilabel %}
        <span class="glyphicon glyphicon-tree"></span> {{ 'play'|trans|upper }}
    {% endblock %}

    {% block blocktitle %}
        {{ 'play'|trans|capitalize }} {{ play.playid }}
        <br/>
        {{ play.game.name }}
    {% endblock %}

    {% block blockcontent %}

        {{ play.description }} @ {{ play.location }}
        , {{ play.date|date("d M Y") }},
        {{ play.nbPlayers }}
        <br />
        Joueurs :

        {% if play.nbPlayers > 0 %}
            {% for player in play.player %}

                {% if mode == 'view' %}
                    <a class="list-group-item" href="{{ path('game_score_player_view', {'id': player.id}) }}">
                {% else %}
                    <li class="list-group-item">
                {% endif %}

                {{ player.firstname }} {{ player.lastname }}
                {% if loop.first %}
                    <span class="label label-success">{{ player.score }}</span>
                {% else %}
                    <span class="label label-default">{{ player.score }}</span>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% if mode == 'update' %}
                        <div class="btn-group pull-right">
                            <a class="btn btn-warning btn-xs"
                               href="{{ path('game_score_score_update', {'id': player.scoreid}) }}">
                                {{ 'upd'|trans|capitalize }}
                            </a>
                            <a class="btn btn-danger btn-xs"
                               href="{{ path('game_score_score_delete', {'id': player.scoreid}) }}">
                                {{ 'del'|trans|capitalize }}
                            </a>
                        </div>
                    {% else %}
                        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                    {% endif %}
                {% endif %}

                {% if mode == 'view' %}
                    </a>
                {% else %}
                    </li>
                {% endif %}

            {% endfor %}

        {% endif %}
        <hr/>
        <a class="btn btn-primary"
           href="{{ path('game_score_score_create', {'id': play.playid}) }}">{{ 'add score'|trans|capitalize }}</a>
    {% endblock %}
    {% if is_granted('ROLE_ADMIN') %}
        {% block updateroute %}
            {{ path('game_score_play_update', {'id': play.playid}) }}
        {% endblock %}
    {% endif %}

{% endblock %}
